# Campaign Winner Processing

In [109]:
import csv
import os
import json
import tweepy
import requests
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
import numpy as np

In [329]:
#import file downloaded from gleam
#redundancy removed already
df = pd.read_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\distinctcertikbnb2.csv')
df

,Name_,FirstName_,Last_name,Email_,Status_,Entries_,City_,Region_,Country_,Created_At,Twitter_
0,startiktik485 patel,startiktik485,patel,startiktok485@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,https://twitter.com/startiktik485\\r
1,Renee Saunders,Renee,Saunders,ninas.sy27@gmail.com,Valid,1,Ho Chi Minh City,SG,Vietnam,1/14/2021 0:00,https://twitter.com/jannebastoss\\r
2,sp582757 kas,sp582757,kas,sp582757@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,https://twitter.com/i_sam1452\\r
3,patelvisal330 patel,patelvisal330,patel,patelvisal330@gmail.com,Valid,1,Bhopal,MP,India,1/14/2021 0:00,https://twitter.com/patelvisal330\\r
4,jsohan6166 patel,jsohan6166,patel,jsohan616@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,https://twitter.com/jsohan6166\\r
...,...,...,...,...,...,...,...,...,...,...,...
1086,M K,M,K,cryptoskeep@gmail.com,Valid,1,Wattenberg,7,Austria,1/5/2021 0:00,https://twitter.com/JooopJopp\\r
1087,Crypto Junior,Crypto,Junior,curateku@gmail.com,Valid,1,Jakarta,JK,Indonesia,1/5/2021 0:00,https://twitter.com/Cryptojr7\\r
1088,Jose Lucas Bazan,Jose,Lucas Bazan,joselubazan544@gmail.com,Valid,1,Vinhedo,SP,Brazil,1/5/2021 0:00,https://twitter.com/joselubazan\\r
1089,Geh Cha Kai,Geh,Cha Kai,castergeh@gmail.com,Valid,1,Kuala Lumpur,14,Malaysia,1/5/2021 0:00,https://twitter.com/Geh_Cha_Kai\\r
1090,Jessie,Jessie,NaN,jichenxi0723@gmail.com,Valid,1,Jersey City,NJ,United States,1/5/2021 0:00,https://twitter.com/jcxthedawn\\r

In [330]:
df['Twitter_'].head(3)

0    https://twitter.com/startiktik485\\r
1     https://twitter.com/jannebastoss\\r
2        https://twitter.com/i_sam1452\\r
Name: Twitter_, dtype: object

In [331]:
#clean the string data
df['Twitter_'] = df['Twitter_'].replace({'\\r':''}, regex=True)
df['Twitter_'] = df['Twitter_'].replace({'https://twitter.com/':''}, regex=True)
df['Twitter_'].head(3)

0    startiktik485\
1     jannebastoss\
2        i_sam1452\
Name: Twitter_, dtype: object

In [332]:
#wiredly cannot remove the \ in the previous code
df['Twitter_'] = df.Twitter_.str[0:-1]
df['Twitter_'].head(3)

0    startiktik485
1     jannebastoss
2        i_sam1452
Name: Twitter_, dtype: object

In [333]:
#covert the dataframe column to a list 
twitterlist = df['Twitter_'].values.tolist()
#twitterlist

# Using Twitter Api

In [108]:
#auth
consumer_key = 'wwdiE5ykBjzTchyiRsaBoTlsM'
consumer_secret = 'Yvhc1WwAMecWRXx7Zavyzr9L1YhpkyywhbHCs5LEoniO6FrB6H'
access_token = '805275096713674752-66JCPlGs5y01sjlTcazy1v0NTR2K3pZ'
access_token_secret = 'yhdD0Xakqw4qHKatJNo1hy4ud3vHCImxAA74Gp8A2eaW1'

# OAuthHandler using the keys and tokens
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# authentication api
api = tweepy.API(auth, wait_on_rate_limit=True)

In [114]:
#test
user_info = api.get_user('certikorg')._json
follower = user_info['followers_count']
#total_tweets = user_info['statuses_count']
print (follower)

11833

In [327]:
df = df.rename(columns={'Twitter_': 'Participants'})
df.head()

,Name_,FirstName_,Last_name,Email_,Status_,Entries_,City_,Region_,Country_,Created_At,Participants
0,startiktik485 patel,startiktik485,patel,startiktok485@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,startiktik485
1,Renee Saunders,Renee,Saunders,ninas.sy27@gmail.com,Valid,1,Ho Chi Minh City,SG,Vietnam,1/14/2021 0:00,jannebastoss
2,sp582757 kas,sp582757,kas,sp582757@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,i_sam1452
3,patelvisal330 patel,patelvisal330,patel,patelvisal330@gmail.com,Valid,1,Bhopal,MP,India,1/14/2021 0:00,patelvisal330
4,jsohan6166 patel,jsohan6166,patel,jsohan616@gmail.com,Valid,1,Indore,MP,India,1/14/2021 0:00,jsohan6166

In [135]:
#get a list of participants' followers, skip the errors like "cannot finds user" or "account suspended"
followers = []
id_list = []
#print(user_info)
for id in twitterlist:
    try:
        user_info = api.get_user(id)._json
        follower = user_info['followers_count']
        followers.append(follower)
        id_list.append(id)
    except Exception as e:
        pass
    continue
print (id_list)
print(followers)

['jannebastos', 'roOic', 'kadirpatel1', 'samarsiji', 'samanahe', '82Evan', 'Candied11', 'na_aas', 'dmkk', 'samar_t', 'AasikJ', '46ihsan', 'polita220', 'ceylanylmaz', 'AylaDA', 'samajb', 'szgnes', 'marient', 'dougE', 'shygirl190', 'bobboy1', 'ANOMAX2', 'eMMa_R_', 'BAHARgl', '321457932', 'screwy8', 'hunter_2', 'OSOJHO', 'aydn_k', 'pacanchik013_', 'CavitKARA', 'darioezequiel1', 'Manuelgonzz', 'fabrizzi0', 'MetalCu', 'pikirin', 'ivanamit', 'libho', 'manuelita_15', 'ahmadkus', 'a_ya_', 'AlicanBe', 'viny123', 'enginayaz', 'BeyzaBs', 'ferystar', 'Tpatala', 'levent1979', 'kraken2', 'aassu1', 'samarsir', 'CryptoAngel1', 'whoopyhoop', 'Zondiak', 'Rahmatdony', 'flora046', 'josesantos5', 'RaZk7', 'quaresmam', 'crypto_dick', 'selcukcell', 'amandarosita1', 'emilylama', 'mattu8', 'pantera289', 'Juasanv', 'muharrem9', 'MarleSk', 'Franph', 'dawidq', 'israelpatel1', 'ahmedsayed6', 'vntricky', 'Behruzjaan', 'CryptoLand1', 'Cryptoshoes', 'Rajkumaranna', 'GustavoAscenzi', 'sanamre0', 'rabo110', 'azgarkhan14', 'Jaminji', 'Micu17', 'chimozz', 'killabee', 'SayMeowz', 'susancrist', 'Kellla', 'CryptoFaiz', 'bitcoinfree1', 'EminEx', 'Mew04', 'LazarusWright', 'farukmalta', 'DSuard', 'Reynver', 'Agv99', 'Crypto_Ivan', 'Fitiani', 'millerkay', 'baeris', 'Daniboi2', 'cosmicrock', 'qrtrmstr', 'Ullaev', 'MaxKUSHPLAY', 'errdiant', 'GaryBaron', 'Sharonpearl', 'LindaMartha1', 'Augustuni', 'Orborne1', 'AbrahamKen', 'jzMichael', 'masuno1', 'BevisAnthony', 'LunaPhoebe', 'Sophroniad', 'yashashreec', 'IrisCamellia', 'Raymondmilla', 'GeoffreRo', 'Williamcamp', 'Matthew_Bp', 'Maverick654', 'Iphigen', 'hororororo', 'Jiraiya5', 'kevrot', 'LauraGen', 'INDOCrypto2', 'RubyJR', 'kae_brenn', 'ErisArtemis', 'MrFallon', 'fairyJasmin', 'kevinbloc', 'Ocxin', 'bluxy', 'hongnhungc', 'havisp', 'bionbion', 'yahoomes', 'martanni', 'Lilapapa', 'HAUPTHAUPT', 'theboy79', 'Wildanari', 'Antoniossi', 'DanzyDo', 'theboswell', 'XNyangaz', 'thebotz', 'theboulb', 'allutfii', 'dixiV', 'chikuwano', 'ShafaArdelia', 'IndriWulan6', 'GunturKilat', 'ZackXavier', 'goshrock', '97ani', 'GrandRa', 'ratih_doankk', 'Crypto_Oliver', 'AlexeyNovikov', 'Crypto_Queen', 'Alexander0100', 'DaniilAkimov', 'terexa55', 'indomiee2', 'alcatu', 'ronsan', 'EvaGospodinova', 'cryptobsession', 'AllSousa', 'Mushlya', 'maison82', 'JuliaSorokina1', 'AnthonyPrince9', 'LoganAdamson', 'cosmicrock', 'chiliu', 'nail5', 'Crypto_Oliver', 'TomasMuller8', 'AlexeyNovikov', 'Crypto_Queen', 'CryptoMark7', 'Alexander0100', 'BorisBaker9', 'DaniilAkimov', 'PhilipAngelo1', 'Erexs', 'EvaGospodinova', 'MaxCollins_', 'Anatoly40', 'JuliaSorokina1', 'george_maximo', 'AnthonyPrince9', 'AndreyLopatin', 'LoganAdamson', 'ferinomore', 'paul_birt', 'Hashim_in', 'baghirov9', 'JamesG07', 'ScottFphoto', 'JessieSmith30', 'TomasMuller8', 'Miihichan', 'milomiller1', 'Lisa11038', 'CryptoMark7', 'BorisBaker9', 'PhilipAngelo1', 'ramafadillah9', 'MaxCollins_', 'falahin', 'Anatoly40', 'george_maximo', 'AndreyLopatin', 'Haokok', 'Nuevededos', 'timm_o', 'AndreySuhanov1', 'theboy1dur', 'NieTriya', 'bacodsan_tuy', 'moneystrike', 'VertFade', 'Sherjjb', 'KononovO', 'manazme', 'motherfs', 'EurMe', 'Hromas', 'JessieSmith30', 'FredoJ', 'FredoJ', 'Parrot_0', 'luisalbertos', 'araro', 'airdropov', 'selfmotivate_', '8webmaster', 'beingashishk', 'Max135', 'JLucky72', 'muratkol1', 'OFFak', 'Crypto_TB', 'AkKalam10', '2019_Ar', 'gete10', 'firtual', 'hian', 'Leedn1', 'adri_fx', 'MaestroIt', 'ANI_KUD', 'ViktorVu', 'proof88', 'LuckyBuy1', 'Vuxuanthuy2', 'ericksans', 'NgtkAk', 'Infinity_45', 'CShaman1', 'Aletdinov', 'Verine4', 'PannasornP', 'bogyme', 'pupu195', 'itsdps', 'aleksandr282', 'DenisEfimenko', 'Maksimus160683', 'Roland_M', 'RomanLok', 'tavria', 'serodin', 'Vfarm', 'lserant', 'Chierans', 'ASimpson7', 'Athreek', 'RomanOz8', 'vilkevic', 'ronycr', 'ahk123', 'demirman5', 'TLqhn', 'AntonYoz', 'blockchainnp', 'HodlJ', 'RuslanAve', 'Sombee', 'aa190', 'Vexter', 'vovr', 'Renat8', 't_miha', 'whisperit', 'OilLc', 'hamster_crypt', 'almazke', 'mytwaccount', 'AndrzejGr', 'Bordon9', 'Oleksiy004', 'lukyanov', 'MadAdm8', 'CryptOo20', 'abu_crypto', 'khoanp', 'desaihira', 'RosdianaEr', 'Cryptovee', 'hovanto', 'Aihilmi', 'bravojun', 'Badamgerel', 'Anastaysh', 'sehungamer', 'CoinTakip', 'Crazy_Kay', 'Rakibh2', 'cau_chan', 'JohnRussian', 'BlitzTrader', 'Thisisyaseen', 'crypto_crypto', 'sepehr_b', 'kingkrug', 'Clarasakti', 'kik_gar', 'Rjramesh', 'AlexKosa', 'Shariful100', 'Cryptojr']
[1, 0, 0, 0, 36, 1, 11, 9, 6, 5, 0, 3, 14, 1, 14, 74, 64, 6, 1471, 0, 2, 60, 15, 1, 1, 0, 4, 0, 8, 190, 0, 1, 214, 8, 0, 723, 1, 4, 17, 123, 59, 1, 9, 954, 200, 1, 0, 51, 7, 2, 89, 2, 75, 7, 0, 1, 5, 0, 0, 2, 4, 1, 8, 2, 0, 0, 1, 0, 1, 0, 208, 0, 4, 0, 0, 95, 0, 2, 67, 0, 0, 0, 6, 1, 89, 219, 208, 20, 139, 1, 2, 0, 7, 1, 0, 17, 1, 0, 3, 17, 4, 0, 12, 481, 0, 1, 0, 26, 6, 12, 0, 22, 6, 0, 3, 31, 32, 1, 0, 6, 1, 7, 72, 0, 1, 6, 3, 0, 5, 16, 101, 2, 117, 7, 3, 2, 0, 0, 3, 153, 1, 0, 0, 0, 0, 0, 24, 90, 3, 1, 15, 13, 0, 4, 1, 1, 0, 2, 0, 0, 1, 0, 3, 1, 266, 9, 1, 5, 0, 0, 18, 0, 1, 5, 0, 8, 0, 28, 1, 0, 3, 31, 12, 4, 3, 9, 10, 1, 5, 0, 0, 7, 0, 3, 1, 0, 16, 1, 0, 4, 3, 0, 31, 731, 0, 0, 7, 37, 3, 0, 10, 0, 0, 1, 0, 7, 3, 0, 16, 0, 1, 4, 0, 0, 11, 11, 0, 3, 0, 2672, 6, 468, 3, 0, 1, 2, 0, 1, 0, 19, 19, 2, 4, 4, 0, 0, 0, 3, 0, 0, 8, 0, 5, 0, 0, 0, 1, 8, 20, 1, 120, 53, 0, 14, 1, 0, 0, 0, 189, 1, 0, 6, 7, 19, 3, 5, 0, 8, 0, 3, 4, 3547, 13, 4, 1, 0, 0, 3, 0, 52, 7, 12, 35, 0, 1, 16, 16, 0, 4, 0, 1, 0, 394, 0, 0, 16, 0, 0, 0, 4, 0, 0, 28, 0, 0, 0, 2, 326, 189, 1, 19, 10, 6, 4, 0, 0, 209, 0, 0, 0, 3, 87, 12, 27, 2, 4, 0, 0, 1, 6, 0, 3]

In [315]:
#Check length
print(len(id_list))
print(len(followers))

342
342

In [280]:
#Create Dataframe for participants with active twitter account
dict = {'Participants':id_list, 'Followers':followers }
df_valid = pd.DataFrame(dict)
df_valid

    Participants  Followers
0    jannebastos          1
1          roOic          0
2    kadirpatel1          0
3      samarsiji          0
4       samanahe         36
..           ...        ...
337      kik_gar          0
338     Rjramesh          1
339     AlexKosa          6
340  Shariful100          0
341     Cryptojr          3

[342 rows x 2 columns]

In [291]:
#rank
df_valid = df_valid.sort_values(by=['Followers'], ascending = False)
df_valid.head(50)

      Participants  Followers
281         tavria       3547
229   bacodsan_tuy       2672
18           dougE       1471
43       enginayaz        954
203     ferinomore        731
35         pikirin        723
103       qrtrmstr        481
231       VertFade        468
302         Renat8        394
317      desaihira        326
164   ratih_doankk        266
85        SayMeowz        219
32     Manuelgonzz        214
326      CoinTakip        209
86      susancrist        208
70    israelpatel1        208
44         BeyzaBs        200
29   pacanchik013_        190
268    Infinity_45        189
318     RosdianaEr        189
139     hongnhungc        153
88      CryptoFaiz        139
39        ahmadkus        123
260      MaestroIt        120
132      kae_brenn        117
130    INDOCrypto2        101
75     Cryptoshoes         95
147      Wildanari         90
84        killabee         89
50        samarsir         89
331    BlitzTrader         87
52      whoopyhoop         75
15          samajb         74
122    Williamcamp         72
78        sanamre0         67
16          szgnes         64
21         ANOMAX2         60
40           a_ya_         59
261        ANI_KUD         53
289       vilkevic         52
47      levent1979         51
207       JamesG07         37
4         samanahe         36
292      demirman5         35
116     LunaPhoebe         32
115   BevisAnthony         31
181   LoganAdamson         31
202   LoganAdamson         31
177        Mushlya         28
312       lukyanov         28

In [ ]:
#save the data 
#end